#a{
  height: 75px;
  width: 480px;
}

#b{
  height: 150px;
  width: 480px;
}

#c{
  height: 125px;
  width: 480px;
}

#d{
  height: 125px;
  width: 480px;
}

#e{
  width: 240px;
  height: 250px;
}

#f{
  width: 240px;
  height: 250px;
}

#g{
  width: 240px;
  height: 250px;
} 

#h{
  width: 240px;
  height: 250px;
}

#i{
  height: 80px;
  width: 480px;
}

@media screen and (min-width: 800px) {

  #a{
    height: 100px;
    width: 960px;
  }
  
  #b{
    height: 600px;
    width: 200px;
  }
  
  #c{
    height: 200px;
    width: 380px;
  }
  
  #d{
    height: 200px;
    width: 380px;
  }
  
  #e{
    width: 190px;
    height: 250px;
  }
  
  #f{
    width: 190px;
    height: 250px;
  }
  
  #g{
    width: 190px;
    height: 250px;
  } 
  
  #h{
    width: 190px;
    height: 250px;
  }
  
  #i{
    height: 150px;
    width: 760px;
  }

}