header{
  width: 100%;
  height: 10%;
  display: flex;
}

nav {
  width: 100%;
  height: 20%;
  display: flex;
}

.portionOne {
  width: 100%;
  height: 17%;
  display: flex;
}

.portionOne div {
  width: 100%;
  height: 17%;
  display: flex;
}

.portionTwo {
  width: 100%;
  height: 66%;
  display: flex;
  flex-wrap: wrap;
}

.portionTwo div {
  width: 50%;
  display: flex;
}

footer {
  width: 100%;
  height: 10%;
  display: flex;
}

@media screen and (min-width: 600px){

  body {
    display: flex;
    flex-wrap: wrap;
  }

  header {
    line-height: 100px;
    flex-wrap: wrap;
  }
  
  nav {
    display: flex;
    line-height: 200px;
    flex-wrap: wrap;
  }
  
  main {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    
  }

  .portionOne {
    display: flex;
    line-height: 200px;
    display: wrap;
  }
  
  .portionTwo {
    display: flex;
    line-height: 250px; 
    flex-wrap: wrap;
  } 
  
  footer{
    display: flex;
    line-height: 150px;
    flex-wrap: wrap;
  }

}

@media screen and (min-width: 768px) {

  body {
    display: flex;
    flex-wrap: wrap;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    line-height: 100px;
  }
  
  nav {
    display: flex;
    flex-wrap: wrap;
    line-height: 200px;
  }

  main {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .portionOne {
    display: flex;
    display: wrap;
    line-height: 200px;
  }
  
  .portionTwo {
    display: flex;
    flex-wrap: wrap;
    line-height: 250px; 
  } 
  
  footer {
    display: flex;
    flex-wrap: wrap;
    line-height: 150px;
  }

}